.album {
  height: 80vh;
  width: 100%;
  border-top: 1px solid var(--primary-color);
  display: flex;
  flex-wrap: wrap;

  background: var(--background-image2);
  background-size: cover;
  background-repeat: no-repeat;
}

.album .headerContainer {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-accent);
  font-size: var(--font-size-lg);
}

.album .artworkContainer {
  height: 70%;
  width: 50%;
  text-align: end;
}

.artworkContainer .albumArtwork {
  height: 320px;
  width: 320px;
  border-radius: var(--border-radius-sm);
}

.album .audioContainer {
  height: 50%;
  width: 50%;
}

.audioContainer .titleContainer,
.audioContainer .buttonsContainer {
  height: 20%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.audioContainer .titleContainer,
.audioContainer .buttonsContainer,
.audioContainer .songsContainer {
  padding: var(--space-md);
  color: var(--primary-color);
}

.audioContainer .buttonsContainer {
  gap: var(--space-md);
}

.buttonsContainer .audioPlayer {
  height: 30px;
  width: 20rem;
}

.buttonsContainer .audioButton:hover {
  opacity: var(--hover-opacity);
}

.audioContainer .songsContainer {
  height: 60%;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--space-md);
}

.songsContainer .songButton {
  color: var(--primary-color);
}

.songsContainer .songButton:hover {
  opacity: var(--hover-opacity);
}

/* Responsiveness */
@media screen and (max-width: 960px) {
  .audioContainer .songsContainer {
    height: 100%;
    gap: var(--space-md) var(--space-base);
    padding: var(--space-base);
  }

  .songsContainer .songButton {
    width: 8rem;
  }
  .artworkContainer .albumArtwork {
    height: 280px;
    width: 280px;
  }
  .buttonsContainer .audioPlayer {
    width: 16rem;
  }
}

@media screen and (max-width: 510px) {
  .album {
    height: fit-content;
    padding: var(--space-lg) 0;
    flex-direction: column;
    align-items: center;
    gap: var(--space-base);
  }
  .headerContainer h1 {
    font-size: var(--font-size-md);
  }
  .artworkContainer {
    height: 220px;
    width: 220px;
  }
  .artworkContainer .albumArtwork {
    height: 100%;
    width: 100%;
  }

  .album .audioContainer {
    width: 100%;
    gap: var(--space-xs);
  }
  .audioContainer .titleContainer,
  .audioContainer .buttonsContainer,
  .audioContainer .songsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .audioContainer .titleContainer {
    font-size: var(--font-size-sm);
  }
  .buttonsContainer .audioPlayer {
    width: 15rem;
  }
}
