.heroSection {
  width: 100%;
  height: fit-content;
  background-image: var(--background-image2);
  background-size: cover;
  padding: var(--space-lg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textContainer {
  height: 20vh;
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: var(--space-sm);
  color: var(--primary-color);
}

.textContainer h1 {
  font-size: var(--font-size-lg);
  font-family: var(--font-main);
}

.textContainer p {
  font-size: var(--font-size-md);
}

.imageContainer {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer .heroImage {
  height: 90%;
  width: 90%;
  border-radius: var(--border-radius-sm);
}
